extends layout

block content
  h5= "Control Automático (v0.1)"
  script(type='text/javascript',src='/javascripts/relay.js')
   

  .container
     .main-content
       label(for="temperatura") Temp:
       input(type="text",id="temperatura",name="temperatura",value="0º")
       for item in rele
         p
         button( onclick="controlRele(this)",name="ctl", id="#{item.name}",class="#{item.state}") Rele #{item.name} #{item.state}

